body {
  background-color: gray;
  font-size: 16px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  background-color: black;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nome {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: white;
  margin: 15px;
}

@media (max-width: 500px) {
	#nome {
	  font-size: 1em;
	}
}

#menu {
  display: none;
}

#menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 15px;
}

@media (max-width: 500px) {
  #links {
    display: none;
  }

  #menu {
    display: block;
  }
}

a {
  cursor: pointer;
}

#links a {
  margin: 15px;
}

#links, footer p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}

header {
  color: white;
  background-image: url("images/recording_studio.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  header {
    height: 300px;
    line-height: 1.2;
  }
}

#overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

header h1 {
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

header h1 a {
  font-size: 0.9em;
}

header h1 strong {
  font-size: 3.75em;
  letter-spacing: 3px;
}

@media (max-width: 500px) {
  header h1 strong {
    font-size: 1.75em;
    letter-spacing: 2px;
  }
}

h1 a.prenota {
  border: 0;
  padding: 5px;
  border-radius: 100px;
  background-color: rgba(0, 128, 128, 0.8);
  display:inline-block;
}

section {
  background-color: gray;
  margin: 80px 130px;
}

@media (max-width: 500px) {
  section {
    margin: 20px 30px;
  }
}

#intro p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  width: 60%;
  text-align: center;
}

#dettagli {
  background-color: teal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

@media (max-width: 500px) {
  #dettagli {
    flex-direction: column;
  }
}

#dettagli div {
  flex-grow: 1;
  padding: 20px;
}

#dettagli img {
  width: 100%;
}

#intro h1, #dettagli h1 {
  color: white;
  font-size: 1.75em;
  font-weight: normal;
  text-align: center;
}

#searchbox {
  background-color: white;
  margin-top: 20px;
}

#spotify, #lyrics {
  padding: 20px;
}

#result-view {
  display: flex;
  flex-wrap: wrap;
}

#result-view .song {
  margin: 10px;
  border: 1px solid turquoise;
  padding: 5px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

#result-view .testo {
  margin: 10px;
  border: 1px solid turquoise;
  padding: 5px;
}

footer {
  padding: 20px;
  background-color: black;
  text-align: center;
  font-size: 2em;
}